<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FA_TEST_USER</key>
	<dict>
		<key>PASSWORD</key>
		<string>ghQshXA7rnDdGWj8GffSQN7VGrm9Qf3Z</string>
		<key>EMAIL</key>
		<string>functions-tests-user@mail.com</string>
	</dict>
	<key>FF_PRIVATE_KEY</key>
	<string>MS2vngs7MKdRGwrj3nmLttu7Zh4ebkRx</string>
</dict>
</plist>
